body {
    background: url(../../../media/images/1.jpg);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 300px;
}

#checkCodeImg:hover {
    cursor: pointer;
}
<!-- margin-top据上外边距 -->
<!--hover 选择器-->
<!--cursor 属性规定要显示的光标的类型（形状）。pointer 光标呈现为指示链接的指针（一只手）-->